<div>
  <h2 id="page-heading" data-cy="DemandeXRMHeading">
    <span jhiTranslate="tmp32App.demandeXRM.home.title">Demande XRMS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="tmp32App.demandeXRM.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-demande-xrm"
        [routerLink]="['/demande-xrm/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tmp32App.demandeXRM.home.createLabel">Create a new Demande XRM</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (demandeXRMS().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="tmp32App.demandeXRM.home.notFound">No Demande XRMS found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateDemande">
              <div class="d-flex">
                <span jhiTranslate="tmp32App.demandeXRM.dateDemande">Date Demande</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateEnvoiAI">
              <div class="d-flex">
                <span jhiTranslate="tmp32App.demandeXRM.dateEnvoiAI">Date Envoi AI</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateEnvoiIVS">
              <div class="d-flex">
                <span jhiTranslate="tmp32App.demandeXRM.dateEnvoiIVS">Date Envoi IVS</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="aI">
              <div class="d-flex">
                <span jhiTranslate="tmp32App.demandeXRM.aI">A I</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="iVS">
              <div class="d-flex">
                <span jhiTranslate="tmp32App.demandeXRM.iVS">I VS</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="miseEnGestion.id">
              <div class="d-flex">
                <span jhiTranslate="tmp32App.demandeXRM.miseEnGestion">Mise En Gestion</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (demandeXRM of demandeXRMS(); track trackId(demandeXRM)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/demande-xrm', demandeXRM.id, 'view']">{{ demandeXRM.id }}</a>
              </td>
              <td>{{ demandeXRM.dateDemande }}</td>
              <td>{{ demandeXRM.dateEnvoiAI }}</td>
              <td>{{ demandeXRM.dateEnvoiIVS }}</td>
              <td [jhiTranslate]="'tmp32App.Status.' + (demandeXRM.aI ?? 'null')">
                {{ { null: '', RECU: 'RECU', TRAITE: 'TRAITE' }[demandeXRM.aI ?? 'null'] }}
              </td>
              <td [jhiTranslate]="'tmp32App.Status.' + (demandeXRM.iVS ?? 'null')">
                {{ { null: '', RECU: 'RECU', TRAITE: 'TRAITE' }[demandeXRM.iVS ?? 'null'] }}
              </td>
              <td>
                @for (miseEnGestion of demandeXRM.miseEnGestions; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/mise-en-gestion', miseEnGestion.id, 'view']">{{ miseEnGestion.id }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/demande-xrm', demandeXRM.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/demande-xrm', demandeXRM.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(demandeXRM)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
