<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-demande-xrm-heading" data-cy="DemandeXRMCreateUpdateHeading" jhiTranslate="tmp32App.demandeXRM.home.createOrEditLabel">
        Create or edit a Demande XRM
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="tmp32App.demandeXRM.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_dateDemande" jhiTranslate="tmp32App.demandeXRM.dateDemande">Date Demande</label>
          <input
            type="time"
            class="form-control"
            name="dateDemande"
            id="field_dateDemande"
            data-cy="dateDemande"
            formControlName="dateDemande"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateEnvoiAI" jhiTranslate="tmp32App.demandeXRM.dateEnvoiAI">Date Envoi AI</label>
          <input
            type="time"
            class="form-control"
            name="dateEnvoiAI"
            id="field_dateEnvoiAI"
            data-cy="dateEnvoiAI"
            formControlName="dateEnvoiAI"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateEnvoiIVS" jhiTranslate="tmp32App.demandeXRM.dateEnvoiIVS">Date Envoi IVS</label>
          <input
            type="time"
            class="form-control"
            name="dateEnvoiIVS"
            id="field_dateEnvoiIVS"
            data-cy="dateEnvoiIVS"
            formControlName="dateEnvoiIVS"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_aI" jhiTranslate="tmp32App.demandeXRM.aI">A I</label>
          <select class="form-control" name="aI" formControlName="aI" id="field_aI" data-cy="aI">
            <option [ngValue]="null">{{ 'tmp32App.Status.null' | translate }}</option>
            @for (status of statusValues; track $index) {
              <option [value]="status">{{ 'tmp32App.Status.' + status | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_iVS" jhiTranslate="tmp32App.demandeXRM.iVS">I VS</label>
          <select class="form-control" name="iVS" formControlName="iVS" id="field_iVS" data-cy="iVS">
            <option [ngValue]="null">{{ 'tmp32App.Status.null' | translate }}</option>
            @for (status of statusValues; track $index) {
              <option [value]="status">{{ 'tmp32App.Status.' + status | translate }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
