<div>
  <h2 id="page-heading" data-cy="MiseEnGestionHeading">
    <span jhiTranslate="tmp32App.miseEnGestion.home.title">Mise En Gestions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="tmp32App.miseEnGestion.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-mise-en-gestion"
        [routerLink]="['/mise-en-gestion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tmp32App.miseEnGestion.home.createLabel">Create a new Mise En Gestion</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (miseEnGestions().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="tmp32App.miseEnGestion.home.notFound">No Mise En Gestions found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="codeTypeMiseEnGestion">
              <div class="d-flex">
                <span jhiTranslate="tmp32App.miseEnGestion.codeTypeMiseEnGestion">Code Type Mise En Gestion</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="codeOffre">
              <div class="d-flex">
                <span jhiTranslate="tmp32App.miseEnGestion.codeOffre">Code Offre</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateEffet">
              <div class="d-flex">
                <span jhiTranslate="tmp32App.miseEnGestion.dateEffet">Date Effet</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="demandeXRM.id">
              <div class="d-flex">
                <span jhiTranslate="tmp32App.miseEnGestion.demandeXRM">Demande XRM</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="pmEtablissement.id">
              <div class="d-flex">
                <span jhiTranslate="tmp32App.miseEnGestion.pmEtablissement">Pm Etablissement</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (miseEnGestion of miseEnGestions(); track trackId(miseEnGestion)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/mise-en-gestion', miseEnGestion.id, 'view']">{{ miseEnGestion.id }}</a>
              </td>
              <td>{{ miseEnGestion.codeTypeMiseEnGestion }}</td>
              <td>{{ miseEnGestion.codeOffre }}</td>
              <td>{{ miseEnGestion.dateEffet | formatMediumDate }}</td>
              <td>
                @for (demandeXRM of miseEnGestion.demandeXRMS; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/demande-xrm', demandeXRM.id, 'view']">{{ demandeXRM.id }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td>
                @for (pmEtablissement of miseEnGestion.pmEtablissements; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/pm-etablissement', pmEtablissement.id, 'view']">{{
                      pmEtablissement.id
                    }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/mise-en-gestion', miseEnGestion.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/mise-en-gestion', miseEnGestion.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(miseEnGestion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
