<div>
  <h2 id="page-heading" data-cy="ProduitHeading">
    <span jhiTranslate="tmp32App.produit.home.title">Produits</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="tmp32App.produit.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-produit"
        [routerLink]="['/produit/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tmp32App.produit.home.createLabel">Create a new Produit</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (produits().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="tmp32App.produit.home.notFound">No Produits found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="codeProduit">
              <div class="d-flex">
                <span jhiTranslate="tmp32App.produit.codeProduit">Code Produit</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateAdhesionProduit">
              <div class="d-flex">
                <span jhiTranslate="tmp32App.produit.dateAdhesionProduit">Date Adhesion Produit</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateRadiationProduit">
              <div class="d-flex">
                <span jhiTranslate="tmp32App.produit.dateRadiationProduit">Date Radiation Produit</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="codeFormule">
              <div class="d-flex">
                <span jhiTranslate="tmp32App.produit.codeFormule">Code Formule</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="codeFamilleRisqueFormule">
              <div class="d-flex">
                <span jhiTranslate="tmp32App.produit.codeFamilleRisqueFormule">Code Famille Risque Formule</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="titreFormule">
              <div class="d-flex">
                <span jhiTranslate="tmp32App.produit.titreFormule">Titre Formule</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="typeFormule">
              <div class="d-flex">
                <span jhiTranslate="tmp32App.produit.typeFormule">Type Formule</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="codeEtat">
              <div class="d-flex">
                <span jhiTranslate="tmp32App.produit.codeEtat">Code Etat</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="groupe.id">
              <div class="d-flex">
                <span jhiTranslate="tmp32App.produit.groupe">Groupe</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (produit of produits(); track trackId(produit)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/produit', produit.id, 'view']">{{ produit.id }}</a>
              </td>
              <td>{{ produit.codeProduit }}</td>
              <td>{{ produit.dateAdhesionProduit | formatMediumDate }}</td>
              <td>{{ produit.dateRadiationProduit | formatMediumDate }}</td>
              <td>{{ produit.codeFormule }}</td>
              <td>{{ produit.codeFamilleRisqueFormule }}</td>
              <td>{{ produit.titreFormule }}</td>
              <td>{{ produit.typeFormule }}</td>
              <td>{{ produit.codeEtat }}</td>
              <td>
                @if (produit.groupe) {
                  <div>
                    <a [routerLink]="['/groupe', produit.groupe.id, 'view']">{{ produit.groupe.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/produit', produit.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/produit', produit.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(produit)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
